.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#root {
  position:relative;
}

.image_page {
  padding: 0.8em;
}

.MuiTab-wrapper {
  font-weight: 700;
}

.clear {
  clear:both;
}

h3 {
  /*width: 10em;*/
  color: #3c4043;
  /*padding-top: 0.5em;*/
  padding-left: 0.5em;
  font: 600 .975rem/1.55rem Roboto,Arial,sans-serif;
  font-weight: 650;
}

section {
  width: 100%;
}


footer {
  text-align: center;
}

.footer_span {
  color: #666;
  font-size: 12px;
  display:inline;
  bottom:0;  
}

.footer_link {
    color: #000000;
    text-decoration: none;
}