.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#root {
  position:relative;
  min-height:2000px;
  background-color: rgb(250,250,250);
}


h3 {
  color: #3c4043;
  padding-left: 0.5em;
  font: 600 .975rem/1.55rem Roboto,Arial,sans-serif;
  font-weight: 650;
}

.MuiTab-wrapper {
  font-weight: 700;
}

.MuiPaper-root {
  background-color: rgb(250,250,250) !important;
}

footer {
  text-align: center;
}

.footer_span {
  color: #666;
  font-size: 12px;
  display:inline;
  bottom:0;  
}

.footer_link {
  color: #000000;
  text-decoration: none;
}

.image_page {
  padding: 0.8em;
}

.clear {
  clear:both;
}

section {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .footer_span {
    color: #666;
  }

  .footer_link {
    color: rgb(250,250,250);
  }
  
  #root {
    background-color: #212121;
  }

  body {
    background-color: #212121;
  }

  .MuiPaper-root {
    background-color: #333333 !important;
  }

  .MuiTab-textColorPrimary {
    color: #787C83 !important; 
  }


  .Mui-selected span {
      color: #8BA9F9 !important;
  }
  .PrivateTabIndicator-colorPrimary-53 {
    background-color: #8BA9F9 !important;
  }    
  
 /* #94A8DA #8BA9F9 #8BA9F9 */

  h3 {
    color: rgb(250,250,250);
  }

}
